body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgba(42, 42, 42, 0.9);
    margin: 0;
    font-weight: 400;
    overflow-x: hidden;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    line-height: 1.2em;
    color: #2A2A2A;
}

img {
    display: block;
    max-width: 100%;

}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;

}

.header {
    padding: 23px 0;

}

.header-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu_item_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-right: 80px;
    color: #000000;
}

.phone {
    background-color: #000000;
    color: #ffffff;
    padding: 11px 24px;
    border-radius: 25px;
}

.info {
    background-image: url(https://wallpapercave.com/wp/x6Z3YLM.jpg);
    background-color: #cccccc;
    padding-bottom: 100px;
}

.title {
    padding: 123px 0 30px;
    font-weight: 700;
    font-size: 55px;
    width: 643px;
    color: #FFFFFF;
}

.info-title {
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;

    color: #FFFFFF;
}

.info-span {
    color: #4fd529;
}

.info-text {
    color: rgba(255, 255, 255, 0.9);
    padding: 30px 0;
}

.btn {
    display: block;
    background: #4fd529;
    border-radius: 30px;
    color: #ffffff;
    padding: 17px 30px;
    width: 130px;
}

.btn:hover {
    color: #000000;
    background: #00ff59;
}

.about {
    padding: 125px 0;
}

.about-set {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_wrap {
    width: 100px;
    text-align: center;
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.9);
    background: #2f3648;
    border-radius: 30px;
}

.about_title {
    font-weight: 600;
    font-size: 40px;
    width: 410px;
    color: #2A2A2A;
    padding: 15px 0 30px;
}

.text-span-2 {
    color: #4fd529;
}

.about_text {
    line-height: 1.5em;
    width: 560px;
    color: rgba(42, 42, 42, 0.9);
}

.about_img {
    margin-right: -100px;
}

.popular {
    margin-left: auto;
    margin-right: auto;
}

.item-set {
    text-align: center;
    display: flex;
    justify-content: center;
}

.item {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.item-column {
    width: 360px;
    height: 500px;
    background: #FFFFFF;

}

.item-img {
    margin-bottom: 30px;
    width: auto;
    height: 400px;
}

.item_title {
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    font-size: 22px;

    color: #2A2A2A;
}

.item_text {
    width: 260px;
    margin: 25px auto;
    text-align: center;
    font-size: 18px;
    color: rgba(42, 42, 42, 0.9);
}

.item_button {
    font-weight: 500;
    font-size: 18px;
    padding: 15px 41px;
    display: block;
    background: linear-gradient(90deg, #4fd529 0%, #00ff59 100%);
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
    margin: 30px auto;
}

.item-button-span-white {
    color: #ffffff55;
    text-decoration-line: line-through;
}

.item_button:hover {
    background: #00ff59;
}

.item-button-mod {
    font-weight: 500;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    border-radius: 30px;
    text-align: center;
    margin: 30px auto;
    color: #fff;
    background: linear-gradient(90deg, #ffcc00 0%, #FCE043 100%);

}

.item_button, .item-button-mod {
    width: 80%;
    height: 3em !important;
}

.item-button-mod :first-child {
    font-size: 0.8em;
}

.item-button-mod:hover {
    background: #FCE043;
}

.btn-other {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.btn-other:hover {
    color: #7e7e7e;
}

.faq {
    background: #ffffff;
    padding: 100px 0;
}

.title-2 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;

    color: #4fd529;
}

.text-2 {
    width: 483px;
    text-align: center;
    margin: 30px auto 60px;
}

.text-span {
    font-weight: 600;

}

.faq-set {
    display: flex;
    justify-content: space-between;

}

.set {
    margin-bottom: 30px;

}

.pic {
    display: flex;
    margin-bottom: 40px;
}

.pic-img {
    width: 44px;
    height: 44px;
    margin-right: 17px;
}

.faq-kit {
    width: 440px;
}

.faq_title {
    margin: 10px 0 30px;
}

.btn-call {
    width: max-content;
    font-weight: 500;
    padding: 15px 95px;
    background: #4fd529;
    color: #fff;
    border-radius: 30px;
    display: block;
    margin: 30px auto 0;
}

.btn-call:hover {
    color: #262626;
    background: #00ff59;
}

.priority {
    padding: 100px 0;
}

.priority-set {
    display: flex;
    justify-content: space-between;
}

.pic-2 {
    width: 300px;
}

.pic-2_img {
    margin: 0 auto;
}

.pic-2_title {
    margin: 44px 0;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.pic-2_text {
    color: rgba(42, 42, 42, 0.9);
    line-height: 1.4em;
    text-align: center;
}

.call {
    background: url("https://digwallpapers.com/wallpapers/full/0/3/a/82441-1920x1080-retro-game-background-image-desktop-hd.jpg");
    padding: 100px 0;
}

.order-set {
    display: flex;
    justify-content: space-between;
}

.form-wrap {
    background: #FFFFFF;
    border-radius: 30px;
    width: 600px;
    padding: 60px;
    height: 630px;
}

.form-text {
    width: 440px;
    color: rgba(42, 42, 42, 0.9);
    margin: 13px 0 23px;
}

.form-title {
    font-weight: 600;
    font-size: 22px;
    width: 500px;
    color: #2A2A2A;
}

input::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: #2a2a2a88;
}

.input {
    padding-bottom: 5px;
    width: 225px;
    border: none;
    border-bottom: 1px solid #4fd529;
    font-size: 18px;
}

.input-name {
    width: 470px;
    margin-bottom: 30px;
}

.label {
    color: rgba(42, 42, 42, 0.9);
}

.input-text {
    width: 474px;
    font-weight: 500;
    font-size: 17px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #4fd529;
    resize: none;
    padding-bottom: 100px;

}

textarea::placeholder {
    color: #2a2a2a88;
    font-size: 17px;
    font-weight: 500;
}

.btn-form {
    font-weight: 500;
    font-size: 18px;
    margin-top: 50px;
    background: linear-gradient(90deg, #4fd529 0%, #00ff59 100%);
    border-radius: 30px;
    padding: 16px 185px;
    width: 100%;
    border: none;
    display: block;
    color: #ffffff;
    cursor: pointer;
}

.btn-form:hover {
    font-weight: 500;
    font-size: 18px;
    margin-top: 50px;
    background: #00ff59;
    border-radius: 30px;
    padding: 16px 185px;
    width: 100%;
    border: none;
    display: block;
    color: #262626;
    cursor: pointer;
}

.ellipse{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin-bottom: 20px;
}
.ellipse-1{
    width: 87px;
    height: 87px;
    background: #FCE043;
    border-radius: 50%;
}
.ellipse-2{
    width: 197px;
    height: 197px;
    background: #FCE043;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: -40px;
}
.ellipse-3{
    width: 69px;
    height: 69px;
    background: #FCE043;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: 60px;
}

.call_text_wrap {
    width: 180px;
    text-align: center;
    background: #2A2A2A;
    border-radius: 30px;
    margin: 74px 0 20px;
    color: rgba(239, 239, 239, 0.9);
}

.call_text_wrap-2 {
    display: inline-block;
    height: 100px;
    font-weight: 400;
    width: 450px;
    font-size: 22px;
    color: #000000;
    background: #ffffff;
    border-radius: 15px;
    border-left: white solid 15px;
    border-top: white solid 10px;
}

.footer {
    background: #2A2A2A;
    padding: 100px 0 30px;
}

.title-3 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: #fff;
}

.text-3 {
    width: 100%;
    text-align: center;
    margin: 30px auto 60px;
    color: rgba(255, 255, 255, 0.9);
}

.contacts {
    padding: 0 100px 60px;
    display: flex;
    justify-content: space-between;

}

.contact-text {
    width: 133px;
    color: #fff;
    text-align: center;
    line-height: 1.5em;
}

.contact-set {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.contact-email {
    text-align: center;
    color: #4fd529;

}

.contact-phone {
    color: #4fd529;
    text-align: center;

}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-item {
    margin-right: 20px;
}

.text-4 {
    padding-top: 50px;
    color: #fff;
    text-align: center;
}